<app-navbar></app-navbar>

<div class="quiz-container">
  <!-- Loading State -->
  <div *ngIf="!quiz" class="loading-state">
    <i class="pi pi-spin pi-spinner"></i>
    <p>Loading quiz...</p>
  </div>

  <div *ngIf="quiz" class="quiz-content">
    <div class="quiz-header">
      <div class="header-content">
        <h1>{{ quiz.title }}</h1>
        <div class="timer-section">
          <div class="timer-display">
            <i class="pi pi-clock"></i>
            <span>Time Remaining: {{ remainingTime }} seconds</span>
          </div>
          <div class="progress-bar">
            <div class="progress" [style.width.%]="progress"></div>
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" class="quiz-form">
      <div class="questions-list">
        <div *ngFor="let question of quiz.questions; let qIndex = index" class="question-card">
          <div class="question-header">
            <span class="question-number">Question {{ qIndex + 1 }}</span>
          </div>
          
          <div class="question-content">
            <p class="question-text">{{ question.questionText }}</p>
            
            <div class="answers-list">
              <div *ngFor="let answer of question.answers; let i = index" class="answer-option">
                <label class="custom-radio">
                  <input
                    type="radio"
                    [name]="question.id_question ? question.id_question.toString() : ''"
                    [value]="i"
                    [(ngModel)]="userAnswers[question.id_question!]"
                  />
                  <span class="radio-mark"></span>
                  <span class="answer-text">{{ answer }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button 
          type="button" 
          pButton 
          label="Return to Quiz List" 
          icon="pi pi-arrow-left"
          class="p-button-secondary" 
          (click)="onReturn()">
        </button>
        <button 
          type="submit" 
          pButton 
          label="Submit Quiz" 
          icon="pi pi-check"
          class="p-button-success">
        </button>
      </div>
    </form>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
