<app-navbar></app-navbar>

<div class="resources-container" *ngIf="!loading && !error">
  <div class="page-header">
    <div class="header-content">
      <h2>Workshop Resources</h2>
      <p class="subtitle">Access all learning materials and documents for this workshop</p>
    </div>
    
    <div class="header-actions">
      <button pButton 
        icon="pi pi-arrow-left" 
        label="Back to Workshops" 
        class="p-button-outlined p-button-secondary back-btn"
        [routerLink]="['/workshopsf']">
      </button>

      <button pButton 
        icon="pi pi-plus" 
        label="Add Resource" 
        class="p-button-primary add-btn"
        [routerLink]="['/workshopsf', workshopId, 'resources', 'new']"
        *ngIf="userIsOwner">
      </button>
    </div>
  </div>

  <div *ngIf="resources.length === 0" class="empty-state">
    <i class="pi pi-folder-open empty-icon"></i>
    <h3>No Resources Available</h3>
    <p>There are currently no resources added to this workshop.</p>
    <button pButton 
      icon="pi pi-plus" 
      label="Add First Resource" 
      class="p-button-primary"
      [routerLink]="['/workshopsf', workshopId, 'resources', 'new']"
      *ngIf="userIsOwner">
    </button>
  </div>

  <div class="resources-list" *ngIf="resources.length > 0">
    <div *ngFor="let resource of resources" class="resource-item" [class.expanded]="isFilesOpen(resource.id)">
      <div class="resource-header">
        <div class="resource-info">
          <h3>{{ resource.name }}</h3>
          <span class="skill-level" [ngClass]="getSkillClass(resource.niveau)">
            <i class="pi pi-star"></i>
            {{ resource.niveau }}
          </span>
        </div>

        <div class="resource-actions">
          <button pButton 
            icon="pi pi-eye" 
            class="p-button-text p-button-rounded"
            pTooltip="View Details"
            [routerLink]="['/workshopsf', workshopId, 'resources', resource.id]">
          </button>
          <button pButton 
            icon="pi pi-pencil" 
            class="p-button-text p-button-rounded p-button-warning"
            pTooltip="Edit Resource"
            [routerLink]="['/workshopsf', workshopId, 'resources', resource.id, 'edit']"
            *ngIf="userIsOwner">
          </button>
          <button pButton 
            icon="pi pi-trash" 
            class="p-button-text p-button-rounded p-button-danger"
            pTooltip="Delete Resource"
            (click)="deleteResource(resource.id)"
            *ngIf="userIsOwner">
          </button>
        </div>
      </div>

      <div class="resource-content">
        <p class="resource-description">{{ resource.description }}</p>
        
        <div class="files-section">
          <div class="files-header" (click)="toggleFiles(resource.id)">
            <span class="files-title">
              <i class="pi" [ngClass]="isFilesOpen(resource.id) ? 'pi-folder-open' : 'pi-folder'"></i>
              {{ isFilesOpen(resource.id) ? 'Hide Files' : 'View Files' }}
            </span>
            <i class="pi pi-chevron-down transition-all" [class.rotate-180]="isFilesOpen(resource.id)"></i>
          </div>

          <div class="files-content" *ngIf="isFilesOpen(resource.id)">
            <!-- Images Section -->
            <div class="file-type-section" *ngIf="hasFiles(resource.id, 'images')">
              <h4>
                <i class="pi pi-images"></i>
                Images
              </h4>
              <div class="images-grid">
                <div class="image-card" *ngFor="let image of getFiles(resource.id, 'images')"
                     (click)="previewFile(image, 'image')">
                  <img [src]="image.url" [alt]="image.path">
                  <div class="image-overlay">
                    <i class="pi pi-eye"></i>
                  </div>
                </div>
              </div>
            </div>

            <!-- PDFs Section -->
            <div class="file-type-section" *ngIf="hasFiles(resource.id, 'pdfs')">
              <h4>
                <i class="pi pi-file-pdf"></i>
                Documents
              </h4>
              <div class="files-grid">
                <div class="file-card" *ngFor="let pdf of getFiles(resource.id, 'pdfs')"
                     (click)="previewFile(pdf, 'pdf')">
                  <i class="pi pi-file-pdf file-icon pdf"></i>
                  <span class="file-name">{{ pdf.path }}</span>
                  <button pButton icon="pi pi-download" 
                    class="p-button-text p-button-rounded"
                    (click)="$event.stopPropagation(); downloadFile(pdf)">
                  </button>
                </div>
              </div>
            </div>

            <!-- Other Files Section -->
            <div class="file-type-section" *ngIf="hasFiles(resource.id, 'otherFiles')">
              <h4>
                <i class="pi pi-file"></i>
                Other Files
              </h4>
              <div class="files-grid">
                <div class="file-card" *ngFor="let file of getFiles(resource.id, 'otherFiles')">
                  <i class="pi" [ngClass]="getFileIcon(file.type)"></i>
                  <span class="file-name">{{ file.path }}</span>
                  <button pButton icon="pi pi-download" 
                    class="p-button-text p-button-rounded"
                    (click)="downloadFile(file)">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Preview Modal -->
<div class="preview-modal" *ngIf="showPreview" (click)="closePreview($event)">
  <div class="modal-content" [ngClass]="{'pdf-preview': previewType === 'pdf'}" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>{{ currentFile?.path }}</h3>
      <div class="modal-actions">
        <button pButton 
          icon="pi pi-download" 
          class="p-button-text p-button-rounded"
          pTooltip="Download File"
          (click)="downloadCurrentFile()">
        </button>
        <button pButton 
          icon="pi pi-times" 
          class="p-button-text p-button-rounded"
          pTooltip="Close Preview"
          (click)="closePreview()">
        </button>
      </div>
    </div>
    
    <div class="modal-body">
      <ng-container [ngSwitch]="previewType">
        <ng-container *ngSwitchCase="'image'">
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview">
        </ng-container>
        <ng-container *ngSwitchCase="'pdf'">
          <iframe *ngIf="previewUrl" [src]="previewUrl" frameborder="0"></iframe>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>