<app-navbar></app-navbar>

<div class="resource-list-container">
    <div *ngIf="loading" class="loading-spinner">
      <p>Loading resources...</p>
    </div>
  
    <div *ngIf="error" class="error-message p-message p-message-error">
      {{ error }}
      <button pButton label="Retry" (click)="loadResources()"></button>
    </div>
  
    <div *ngIf="!loading && !error">
      <div class="header">
        <h2>Resources for Workshop</h2>
        <button pButton 
                icon="pi pi-plus" 
                label="Add Resource" 
                [routerLink]="['/workshopsf', workshopId, 'resources', 'new']">
        </button>
      </div>
  
      <div *ngIf="resources.length === 0" class="no-resources">
        <p>No resources found for this workshop.</p>
      </div>
  
      <div class="resource-grid">
        <div *ngFor="let resource of resources" class="resource-card p-card">
          <div class="card-header">
            <h3>{{ resource.name }}</h3>
            <div class="actions">
              <button pButton 
                      icon="pi pi-eye" 
                      class="p-button-rounded p-button-info" 
                      [routerLink]="['/workshopsf', workshopId, 'resources', resource.id]">
              </button>
              <button pButton 
                      icon="pi pi-pencil" 
                      class="p-button-rounded p-button-warning" 
                      [routerLink]="['/workshopsf', workshopId, 'resources', resource.id, 'edit']">
              </button>
              <button pButton 
                      icon="pi pi-trash" 
                      class="p-button-rounded p-button-danger" 
                      (click)="deleteResource(resource.id)">
              </button>
            </div>
          </div>
          
          <div class="card-content">
            <p>{{ resource.description }}</p>
            <p>Skill Level: {{ resource.niveau }}</p>
            
            <div *ngIf="filePreviews[resource.id]" class="resource-files">
              <!-- Display Images -->
              <div *ngFor="let image of filePreviews[resource.id].images" class="file-preview">
                <img [src]="image.url" alt="Resource image" class="preview-image">
              </div>
              
              <!-- Display PDFs -->
              <div *ngFor="let pdf of filePreviews[resource.id].pdfs" class="file-preview">
                <button pButton 
                        [icon]="'pi ' + getFileIcon(pdf.type)" 
                        class="p-button-rounded file-button pdf"
                        (click)="viewFile(pdf)">
                </button>
                <span class="file-name">{{ pdf.path }}</span>
              </div>
              
              <!-- Display Other Files -->
              <div *ngFor="let file of filePreviews[resource.id].otherFiles" class="file-preview">
                <button pButton 
                        [icon]="'pi ' + getFileIcon(file.type)" 
                        class="p-button-rounded file-button"
                        (click)="viewFile(file)">
                </button>
                <span class="file-name">{{ file.path }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>